<div class="big-card-container">
    <div class="big-card-photo">
        <img 
            src="https://images.unsplash.com/photo-1585366119957-e9730b6d0f60" 
            alt="lego beatles star wars"
            height="250px"
            
        >
    </div>
    <div class="big-card-title">
       <h1><a href="#">Lego, Beatles e Star Wars!</a></h1>
    </div>
    <div class="big-card-description">
        <p>
            <a>
              Lorem ipsum dolor sit amet. Wars blocos  star lego  beatles blocos  beatles lego  wars blocos  montar montar  star wars. 
              Montar star  lego star  divertido montar  lego lego  montar beatles  star beatles  divertido divertido. 
              Divertido beatles  star wars  lego montar  lego wars  montar montar? 
              Star montar  lego wars  blocos lego  divertido montar  divertido beatles  
              star beatles. Montar beatles  beatles wars  blocos montar  blocos divertido. 
            </a>
        </p>
    </div>
</div>
