<div class="small-card-container">
    <div class="small-card-container-content">
        <div class="small-card-photo">
            <img 
                src="https://images.brickset.com/sets/large/3177-1.jpg" 
                alt="lego beatles star wars"
                height="250px"
                
            >
        </div>
        <div class="small-card-title">
        <h1><a href="#">Ideias de veículos montados com lego!</a></h1>
        </div>
    </div>
</div>

<div class="small-card-container-separator">
    <hr>
</div>
