<app-menu-title></app-menu-title>
<div class="articles-container">
    <div class="articles-main">
        <app-big-card
            Id="1"
            photoCover="https://images.unsplash.com/photo-1585366119957-e9730b6d0f60"
            cardTitle="Lego, Beatles e Star Wars"
            cardDescription="Lorem ipsum dolor sit amet. Wars blocos  star lego  beatles blocos  beatles lego  wars blocos  montar montar  star wars."
            >
        </app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card
            Id="2"
            photoCover="https://images.brickset.com/sets/large/3177-1.jpg"
            cardTitle="Ideias de veículos montados com lego!"
            >
        </app-small-card>
        
        <app-small-card
            Id="3"   
            photoCover="https://images.brickset.com/sets/large/3177-1.jpg"
            cardTitle="Ideias de veículos montados com lego!"
            >
        </app-small-card>
        
        <app-small-card
            Id="4" 
            photoCover="https://images.brickset.com/sets/large/3177-1.jpg"
            cardTitle="Ideias de veículos montados com lego!" 
            >
        </app-small-card>
    </div>
</div>
